name: "Publish Packages"

on:
  workflow_dispatch:
    inputs:
      isPublish:
        description: '是否发布，不发布则只检查'
        required: false
        default: 'false'

jobs:
  publish:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Publish
        uses: sakebook/actions-flutter-pub-publisher@v1.3.0
        with:
          credential: ${{ secrets.CREDENTIAL_JSON }}
          flutter_package: true
          skip_test: true
          dry_run: ${{ github.event.inputs.isPublish == 'false' }}
